.header {
  height: 80px;
  background: $bg;
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.language {
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    margin-left: 4px;
  }

}
.language:hover {
  svg {
    path {
      fill: $gold;
      transition: all .7s ease;
    }
  }
}

.basket {
  display: flex;
  align-items: center;
  cursor: pointer;
  .basket-counter {
    margin-left: -11px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: $gold;
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
  }
}
.basket:hover {
  svg {
    path {
      fill: $gold;
      transition: all .7s ease;
    }
  }
}

.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin-right: 10px;
  }
}
.user:hover {
  svg {
    path {
      fill: $gold;
      transition: all .7s ease;
    }
  }
}

ul{
  display:flex;
  align-items:center;
  height:50px;
}
ul a{
  margin-left:25px;
}

ul a:hover{
  color: $gold;
  text-decoration: underline;
  transition: all .7s ease;
}
@include media-screen-tablet {
  // .header {
  //   height: 250px;
  // }
  .menu{display:none;}
  .trigger{
    display:inline-block;
    margin:3px;
    cursor:pointer;
   }
   .trigger i{
     display:block;
     width:30px;
     height:6px;
     margin:4px auto;
     background:$gold;
   }
   .show{
     display:block;
     margin-top: -20px;
   }
}
@include media-screen-small {
  .language {
    display: none;
  }
}
@include media-screen-xs {
.user {
  div {
    display: none;
  }
}
}